/* 底部开始 */
/* 公共样式 */
footer a{
    color: #666;
}
footer a:hover{
    color: #c81623;
}

/* 顶部——服务 开始 */
footer .top_service{
    padding: 30px 0;
}
footer .top_service ul{
    height: 42px;
}
footer .top_service ul li{
    float: left;
    width: 297px;
    height: 100%;
}
footer .top_service ul li .inner{
    margin: 0 36px;
    position: relative;
}
footer .top_service ul li .inner h5{
    width: 36px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -999px;
    overflow: hidden;
}
/* 多 */
footer .top_service ul li.duo h5{
    background: url('../../img/shop_footer.png');
    background-position: left bottom;
}
/* 快 */
footer .top_service ul li.kuai h5{
    background: url('../../img/shop_footer.png');
    background-position: -41px bottom;
}
/* 好 */
footer .top_service ul li.hao h5{
    background: url('../../img/shop_footer.png');
    background-position: -82px bottom;
}
/* 省 */
footer .top_service ul li.sheng h5{
    background: url('../../img/shop_footer.png');
    background-position: -123px bottom;
}
footer .top_service ul li p{
    padding-left: 45px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    color: #444;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* 禁止选中 */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
/* 顶部分割线 */
footer{
    position: relative;
}
footer .slice_line{
    width: 100%;
    height: 1px;
    background-color: #dedede;
    position: absolute;
    top: 102px;
}

/* 顶部——服务 结束 */


/* 底部结束 */