
/* 本页公共样式开始 */
#container{
    text-align: center;
}

/* 本页公共样式结束 */
h2.title{
    width: 150px;
    margin: 0 auto;
    font-size: 34px;
    font-weight: normal;
    cursor: default;
}
hr.divide{
    width: 0px;
    margin: 4px auto 50px;
    height: 4px;
    border: none;
    background: #E87E04;
    transition: all .5s;
}
h2.title:hover + hr.divide{
    width: 80px;
}

/* 导航开始 */
.myNav{
    width: 100%;
    background: #2c3e50;
    height: 60px;
    position: fixed;
    z-index: 10;
    top: 0;
}
.myNav nav{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    left: 50%;
    color: #fff;
}
.myNav h1{
    float: left;
    margin-right: 200px;
    font-size: 14px;
    line-height: 60px;
    cursor: default;
    position: relative;
}
.myNav h1 img{
    height: 20px;
    position: absolute;
    top: 18px;
    left: 84px;
    opacity: 0;
    transition: all 0.3s linear;
}
.myNav h1:hover img{
    opacity: 1;
    left: 100px;
}
.myNav ul{
    float: right;
}
.myNav ul a{
    color: #fff;
    margin: 0 30px;
    line-height: 60px;
}
.myNav ul li{
    float: left;
}
.myNav ul li.active a{
    color: #E87E04;
}
.myNav ul li a{
    position: relative;
}
.myNav ul li a span{
    display: inline-block;
    width: 0;
    height: 2px;
    background: #E87E04;
    position: absolute;
    bottom: -4px;
    left: 0px;
    transition: all .5s;
}
.myNav ul li a:hover span{
    width: 100%;
}
/* 导航结束 */


/* 第一屏开始 */
#container .page01{
    position: relative;
}
#container .page01 .page01Bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#container .page01 .page01Bg li,#container .page01 .page01Bg li.show{
    -webkit-animation: fadescale 5s forwards;
    animation: changeSize 5s forwards;
}
#container .page01 .page01Bg li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    opacity: 0;
}
/* page01  4张背景图 */
#container .page01 .page01Bg li:nth-child(1){
    background: url('../../img/page01-bg1.jpg') center/cover no-repeat;
}
#container .page01 .page01Bg li:nth-child(2){
    background: url('../../img/page01-bg2.jpg') center/cover no-repeat;
}
#container .page01 .page01Bg li:nth-child(3){
    background: url('../../img/page01-bg3.jpg') center/cover no-repeat;
}
#container .page01 .page01Bg li:nth-child(4){
    background: url('../../img/page01-bg4.jpg') center/cover no-repeat;
}
/* page01背景图过渡——放大缩小动画效果 */

@keyframes changeSize{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1.1,1.1);
    }
    100%{
        opacity: 0.5;
        transform: scale(1);
    }
}
@-webkit-keyframes changeSize{
    0%{
        opacity: 1;
        -webkit-transform: scale(1);
    }
    50%{
        opacity: 1;
        -webkit-transform: scale(1.1,1.1);
    }
    100%{
        opacity: 0.5;
        -webkit-transform: scale(1);
    }
}
#container .page01 h2{
    font-size: 60px;
    margin-bottom: 20px;
}
#container .page01 p{
    font-size: 30px;
}

.btn{
    margin-top: 40px;
}
.btn a{
    padding: 14px 46px;
    border: 1px solid #2c3e50;
    font-size: 16px;
    border-radius: 4px;
}
.btn .left{
    border-color: rgb(255,255,255,0.8);
    background: #2c3e50;
    color: #fff;
    margin-right: 8px;
    transition: all .5s linear;
}
.btn .left:hover{
    background: #486e94;
}
.btn .right{
    color: #2c3e50;
    background: rgb(255,255,255,0.8);
    margin-left: 8px;
    transition: all .5s linear;
}
.btn .right:hover{
    background: #486e94;
    color: #fff;
}
/* 第一屏结束 */


/* 第二屏开始——关于我 */
#container .page02{
    background: #def0fa;
    color:#4d4d4d;
    /* background: url('../../img/page03.jpg') center/cover no-repeat; */
}
#container .page02 .introduce{
    width: 1000px;
    margin: 0 auto;
}
#container .page02 .introduce .myImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 26px;
    transition: all .6s;
}
#container .page02 .introduce .myImg:hover{
    transform: scale(1.1,1.1);
}
#container .page02 .introduce .myImg img{
    width: 100%;
    height: 200px;
    border-radius: 50%;
}
#container .page02 .introduce p{
    width: 800px;
    margin: 0 auto;
    text-align: left;
    text-indent: 2em;
    line-height: 24px;
    padding: 10px 0;
}

/* 第二屏结束——关于我 */


/* 第三屏开始——求职意向 */
#container .page03{
    background: url('../../img/page03-bg.jpg') center/cover no-repeat;
    color: #2c3e50;
}
#container .page03 .intention{
    width: 1000px;
    margin: 0 auto;
}
#container .page03 .intention p{
    font-size: 15px;
    line-height: 28px;
}
#container .page03 .intention ul{
    display: flex;
    justify-content: space-around;
}
#container .page03 .intention ul li{
    width: 285px;
    height: 220px;
}
#container .page03 .intention ul li img{
    width: 80px;
    transition: all .6s;
}
#container .page03 .intention ul li img:hover{
    transform: scale(1.2,1.2);
}
#container .page03 .intention ul li h3{
    color: #E87E04;
    line-height: 60px;
    font-weight: normal;
}
#container .page03 .intention ul li p{
    padding: 0 16px;
    font-size: 14px;
    color: #787978;
}

/* 第三屏结束——求职意向 */


/* 第四屏开始——作品集 */
#container .page04{
    background: #fafafa;
    color: #2c3e50;
}
#container .page04 .works{
    width: 1170px;
    margin: 0 auto;
}
#container .page04 .works .tips{
    margin-bottom: 50px;
}
#container .page04 .works ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#container .page04 .works ul li{
    width: 265px;
    height: 265px;
    padding: 10px 0;
    transition: all .6s;
    position: relative;
}
#container .page04 .works ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
#container .page04 .works ul li .img{
    width: 265px;
    height: 265px;
    background: url('../../img/flower.jpg') 100% no-repeat;
}
#container .page04 .works ul li .img1{
    background-position: top left;
}
#container .page04 .works ul li .img2{
    background-position: -265px 0px;
}
#container .page04 .works ul li .img3{
    background-position: -530px 0px;
}
#container .page04 .works ul li .img3{
    background-position: -530px 0px;
}
#container .page04 .works ul li .img4{
    background-position: -795px 0px;
}
#container .page04 .works ul li .img5{
    background-position: 0px bottom;
}
#container .page04 .works ul li .img6{
    background-position: -265px bottom;
}
#container .page04 .works ul li .img7{
    background-position: -530px bottom;
}
#container .page04 .works ul li .img8{
    background-position: -795px bottom;
}
#container .page04 .works ul li .blackBox{
    position: absolute;
    top: 10px;
    left: 0;
    width: 265px;
    height: 265px;
    background: rgba(0,0,0,.7);
    color: #fff;
    opacity: 0;
    transition: all .5s;
    cursor: pointer;
}
#container .page04 .works ul li .details{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
#container .page04 .works ul li .details h4{
    font-size: 16px;
    margin-bottom: 10px;
}
#container .page04 .works ul li .details p{
    color: #fff;
    margin-bottom: 10px;
}
#container .page04 .works ul li .details img{
    width: 28px;
}
#container .page04 .works ul li:hover{
    transform: scale(1.1,1.1);
}
#container .page04 .works ul li:hover .blackBox{
    opacity: 1;
}
#container .page04 .works ul li img{
    width: 100%;
}
#container .page04 .works ul li h3{
    color: #E87E04;
    line-height: 60px;
    font-weight: normal;
}
#container .page04 .works ul li p{
    padding: 0 16px;
    font-size: 14px;
    color: #787978;
}

/* 第四屏结束——作品集 */


/* 第五屏开始——联系我 */
#container .page05{
    background: #6A8BB6;
    color:#4d4d4d;
    background: url('../../img/contact-bg.jpg') center/cover no-repeat;
}
#container .page05 .contact{
    width: 500px;
    margin: 0 auto;
    margin-top: 350px;
    padding: 40px 0;
}
#container .page05 .contact p{
    line-height: 40px;
    font-size: 16px;
    background: rgba(0,0,0,.4);
    margin: 16px 0;
    color: #fff;
    padding-left: 150px;
    text-align: left;
}
#container .page05 .contact p img{
    width: 18px;
}

/* 第五屏结束——联系我 */