/* logo开始 */
.logo{
    height: 150px;
}
.logo img{
    display: block;
    width: 202px;
    padding-top: 78px;
}
/* logo结束 */


/* 登录开始 */
.login{
    height: 650px;
    background: url('../../img/login-bg.png') no-repeat;
    overflow: hidden;
}
.login .login_box{
    width: 400px;
    height: 380px;
    margin-top: 100px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 5px 3px 5px rgba(0,0,0,.1);
}
.login .login_box .top{
    height: 70px;
    background: #d2e3ff;
    font-size: 20px;
    font-weight: 700;
    color: #0a3b95;
    line-height: 70px;
    padding-left: 30px;
}

.login .login_box .bottom form input{
    display: block;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 340px;
    margin: 25px auto;
    position: relative;
}
.login .login_box .bottom form .name{
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 50px;
    background: url('../../img/user.png') center/100% no-repeat;
}
.login .login_box .bottom form p{
    text-align: center;
}
.login .login_box .bottom form p a{
    color: #3490f2;
}
.login .login_box .bottom form button{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background: #4470f6;
    color: #fff;
    margin-top: 28px;
}

/* 登录结束 */


/* 底部开始 */
/* 底部结束 */