/* section3开始 */
.section3 .innerWidth{
    margin-bottom: 20px;
    height: 260px;
}

/* section3_left开始 */
.section3 .section3_left{
    float: left;
    width: 190px;
    height: 100%;
    background: url('../../img/section3_left_img1.png') center/100% no-repeat;
}
.section3 .section3_left .left_box{
    width: 160px;
    height: 90px;
    background: url('../../img/section3_left_img2.png');
    margin: 0 auto;
    margin-top: 15px;
}
.section3 .section3_left .left_box p{
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    color: rgba(255,255,255,.8);
    padding: 55px 0 10px 20px;
    position: relative;
}
.section3 .section3_left .left_box p img{
    position: absolute;
    top: 60px;
    right: 40px;
    border: 1px solid rgba(255,255,255,.8);
    border-radius: 50%;
    width: 10px;
    padding: 2px;
    transition: all .2s;
}
.section3 .section3_left:hover .left_box p img{
    background-color: #e1251b;
    border-color: #e1251b;
}

/* section3_left结束 */

/* section3_right */
.section3 .section3_right{
    float: right;
    width: 990px;
    height: 100%;
    background: #fff;
    overflow: hidden;
    position: relative;
}
.section3 .section3_right .hover_box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.section3 .section3_right .right_inner{
    width: 3000px;
    padding: 0 20px;
    white-space: nowrap;
    /* 禁止被选中 */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.section3 .section3_right .right_bottom{
    margin-top: 50px;
}
.section3 .section3_right .right_bottom p{
    margin-bottom: 10px;
}
.section3 .section3_right .right_top{
    margin-top: 20px;
}
.section3 .section3_right .right_top p{
    margin-top: 10px;
}
.section3 .section3_right .right_item{
    width: 150px;
    height: 180px;
    float: left;
    margin-right: 50px;
    vertical-align: center;
}
.section3 .section3_right .right_item p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    text-align: center;
    font-size: 14px;
}
.section3 .section3_right .right_item:hover p{
    color: #e1251b;
}
.section3 .section3_right .right_item .img{
    width: 150px;
    height: 150px;
}
.section3 .section3_right .right_item .img img{
    width: 100%;
    opacity: 1;
    transition: opacity .3s;
}
.section3 .section3_right .right_item:hover .img{
    opacity: .8;
}
/* 滑动的横条 */
.section3 .section3_right .scroll_bar{
    width: 950px;
    height: 3px;
    background-color: #f3f3f3;
    margin: 0 20px;
    bottom: 12px;
    position: absolute;
    /* opacity: 0; */
    transition: opacity .3s;
}
.section3 .section3_right:hover .scroll_bar{
    opacity: 1;
}
.section3 .section3_right .scroll_bar span{
    position: absolute;
    top: -3px;
    left: 0;
    display: block;
    width: 98px;
    height: 9px;
    background-color: #d8d8d8;
    border-radius: 4px;
    cursor: pointer;
}

/* section3_right结束 */

/* section3结束 */