/* section1 右边 */
.main .inner_section1 .section1_right{
    float: right;
    width: 190px;
    margin-top: 10px;
}
/* top */
.main .inner_section1 .section1_right .right_top{
    height: 102px;
}
.main .inner_section1 .section1_right .right_top .userName{
    height: 52px;
    padding-top: 14px;
}
.main .inner_section1 .section1_right .right_top .userName .user_avatar{
    width: 44px;
    height: 44px;
}
.main .inner_section1 .section1_right .right_top .userName .user_avatar{
    float: left;
    margin-left: 18px;
}
.main .inner_section1 .section1_right .right_top .userName .user_avatar a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px 0px rgba(0,0,0,.1);
    overflow: hidden;
}
.main .inner_section1 .section1_right .right_top .userName .user_avatar img{
    width: 100%;
}
.main .inner_section1 .section1_right .right_top .userName .avatar_text{
    float: left;
    font-size: 12px;
    color: #666;
    margin-top: 4px;
    margin-left: 10px;
    line-height: 18px;
}
.main .inner_section1 .section1_right .right_top .userBtn{
    height: 36px;
    line-height: 28px;
    text-align: center;
}
.main .inner_section1 .section1_right .right_top .userBtn button{
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    border-radius: 12px;
}
.main .inner_section1 .section1_right .right_top .userBtn button:first-child{
    background: #e1251b;
    color: #fff;
    transition: all .5s;
}
.main .inner_section1 .section1_right .right_top .userBtn button:first-child:hover{
    background-color: #c81623;
}
.main .inner_section1 .section1_right .right_top .userBtn button:last-child{
    background: #363634;
    color: #e5d790;
    transition: all .5s;
}
.main .inner_section1 .section1_right .right_top .userBtn button:last-child:hover{
    background: #c81623;
    color: #fff;
}
.main .inner_section1 .section1_right .right_top .user{
    position: relative;
}
/* 分割线 */
.main .inner_section1 .section1_right .right_top .user::after,
.main .inner_section1 .section1_right .right_center .inner_news::after{
    content: '';
    display: block;
    width: 160px;
    height: 1px;
    background: linear-gradient(270deg,#fff,#eee,#eee,#fff);
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}
/* center */
.main .inner_section1 .section1_right .right_center{
    height: 130px;
}
.main .inner_section1 .section1_right .right_center .inner_news{
    margin: 0 15px;
    height: 130px;
    position: relative;
}
.main .inner_section1 .section1_right .right_center .inner_news .news_part{
    height: 20px;
    padding-top: 10px;
    margin-bottom: 8px;
}
.main .inner_section1 .section1_right .right_center .inner_news .news_part h5{
    font-size: 14px;
    float: left;
}
.main .inner_section1 .section1_right .right_center .inner_news .news_part a{
    float: right;
    font-size: 12px;
    color: #999;
    padding-top: 2px;
}
.main .inner_section1 .section1_right .right_center .inner_news .news_part a:hover{
    color: #c81623;
}
.main .inner_section1 .section1_right .right_center .inner_news .news_part a i{
    font-style: normal;
}
.main .inner_section1 .section1_right .right_center .inner_news ul{
    height: 88px;
    font-size: 12px;
}
.main .inner_section1 .section1_right .right_center .inner_news ul li{
    height: 16px;
    width: 100%;
    margin-bottom: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main .inner_section1 .section1_right .right_center .inner_news ul li a{
    color: #666;
}
.main .inner_section1 .section1_right .right_center .inner_news ul li a:hover{
    color: #e1251b;
}
.main .inner_section1 .section1_right .right_center .inner_news ul li a span{
    display: inline-block;
    width: 35px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    text-align: center;
    color: #e1251b;
    background: rgba(225,37,27,.08);
}
/* bottom */
.main .inner_section1 .section1_right .right_bottom{
    height: 238px;
}
.main .inner_section1 .section1_right .right_bottom .service_inner{
    height: 230px;
    padding: 4px 0;
    position: relative;
    overflow: hidden;
    font-size: 12px;
}
.main .inner_section1 .section1_right .right_bottom .service_inner ul.icon_list{
    position: absolute;
    top: 0px;
    height: 225px;
    padding-top: 5px;
    transition: all .3s;
}
/* 鼠标滑过  icon_list 上移 */
.main .inner_section1 .section1_right .right_bottom .service_inner ul.icon_list.active{
    top: -32px;
}
/* 游戏特殊处理 */
.main .inner_section1 .section1_right .right_bottom .service_inner ul.icon_list li#game_drop{
    position: relative;
    background-color: #fff;
}
.main .inner_section1 .section1_right .right_bottom .service_inner ul.icon_list li#game_drop.active{
    top: -55px;
}
.main .inner_section1 .section1_right .right_bottom .service_inner ul.icon_list li{
    float: left;
}
.main .inner_section1 .section1_right .right_bottom .service_inner ul.icon_list li,
.main .inner_section1 .section1_right .right_bottom .service_inner ul.icon_list li a{
    display: block;
    width: 63px;
    height: 55px;
}
.main .inner_section1 .section1_right .right_bottom .service_inner ul.icon_list li a{
    text-align: center;
}
.service_inner ul.icon_list li a span{
    line-height: 25px;
}
.service_inner ul.icon_list li.can_drop a span{
    position: relative;
}
.service_inner ul.icon_list li.can_drop a span::after{
    content: '';
    position: absolute;
    top: 20px;
    left: 1px;
    width: 24px;
    height: 0;
    border-bottom: 2px solid #c81623;
    opacity: 0;
}
.service_inner ul.icon_list li.can_drop.turnRed a span{
    color: #c81623;
}
.service_inner ul.icon_list li.can_drop.turnRed a span::after{
    opacity: 1;
}
.service_inner ul.icon_list li a i{
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 auto;
    position: relative;
}
.main .inner_section1 .section1_right .right_bottom .service_inner ul.icon_list li a i img{
    width: 100%;
}
.main .inner_section1 .section1_right .right_bottom .service_inner ul.icon_list li a i img.img_hover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .2s;
}
.main .inner_section1 .section1_right .right_bottom .service_inner ul.icon_list li:hover a i img.img_hover{
    opacity: 1;
}
/* icon滑过，下拉盒子 */
.section1_right .right_bottom .service_inner .dropdown_box{
    /* display: none; */
    width: 190px;
    height: 206px;
    position: absolute;
    top: 238px;
    border: none;
    transition: all .3s;
}
/* 导航栏 */
.section1_right .right_bottom .service_inner .dropdown_box ul.title li.selected a{
    color: #e40015;
}
/* 表单 */
.section1_right .right_bottom .service_inner .dropdown_box form{
    width: 160px;
    margin-top: 6px;
}
.section1_right .right_bottom .service_inner .dropdown_box form span{
    float: left;
    width: 34px;
}
.section1_right .right_bottom .service_inner .dropdown_box form .line{
    margin-bottom: 8px;
}
.section1_right .right_bottom .service_inner .dropdown_box form input,
.section1_right .right_bottom .service_inner .dropdown_box form select{
    width: 122px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #eee;
}

.section1_right .right_bottom .service_inner .dropdown_box form select{
    width: 124px;
}
.section1_right .right_bottom .service_inner .dropdown_box form input::-webkit-input-placeholder{
    color: #c7c7c7;
    padding-left: 6px;
}
.section1_right .right_bottom .service_inner .dropdown_box form .line03 span{
    width: 100%;
    color: #e40015;
}
.section1_right .right_bottom .service_inner .dropdown_box form .line04 button{
    font-size: 12px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    background-color: #e40015;
    border-radius: 10px;
    border: none;
    color: #fff;
    margin-top: 4px;
}
.section1_right .right_bottom .service_inner .dropdown_box form .line05 a{
    color: #527cdb;
}
.section1_right .right_bottom .service_inner .dropdown_box form .line05 a:hover{
    color: #e40015;
}

/* 关闭按钮 */
.section1_right .right_bottom .service_inner .dropdown_box .close_btn{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 5;
    bottom: 20px;
    left: 50%;
    margin-left: -10px;
    transition: all .3s;
}
.section1_right .right_bottom .service_inner .dropdown_box .close_btn img{
    width: 100%;
    opacity: 1;
}
.section1_right .right_bottom .service_inner .dropdown_box .close_btn img:last-child{
    position: absolute;
    left: 0;
    opacity: 0;
}
.section1_right .right_bottom .service_inner .dropdown_box .close_btn:hover{
    background: #c81623;
}
.section1_right .right_bottom .service_inner .dropdown_box .close_btn:hover img{
    opacity: 1;
}
.section1_right .right_bottom .service_inner .dropdown_box .close_btn:hover img:last-child{
    opacity: 1;
}
.section1_right .right_bottom .service_inner .dropdown_box.show{
    top: 30px;
}
.section1_right .right_bottom .service_inner .dropdown_box .inner_box{
    width: 160px;
    margin: 0 auto;
    color: #666;
    font-size: 12px;
}
.section1_right .right_bottom .service_inner .dropdown_box ul.title{
    padding-top: 12px;
}
.section1_right .right_bottom .service_inner .dropdown_box ul.title li{
    width: 53px;
    float: left;
}
.section1_right .right_bottom .service_inner .dropdown_box ul.title li a{
    text-align: left;
}
/* section1结束 */