/* 购物车样式 开始 */

/* 公共样式 */
.innerContent{
    width: 990px;
    margin: 0 auto;
}

/* 顶部导航 */
header .innerHead nav .shouye i{
    color: #666;
}

/* 搜索栏 */
.container .search_box{
    padding-top: 10px;
}
.container .search_box .text{
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-weight: 700;
    color: #e1251b;
    float: left;
}
.container .search_box .search{
    float: right;
    border: 2px solid #c91623;
    margin-top: 16px;
    height: 24px;
    overflow: hidden;
}
.container .search_box .search input{
    width: 260px;
    height: 18px;
    line-height: 18px;
    padding: 3px 5px;
}
.container .search_box .search input::-webkit-input-placeholder{
    color: #adadad;
}
.container .search_box .search input::-moz-input-placeholder{
    color: #adadad;
}
.container .search_box .search input::-ms-input-placeholder{
    color: #adadad;
}
.container .search_box .search button{
    width: 48px;
    height: 24px;
    line-height: 24px;
    background-color: #c91623;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

/* cart_main */
/* cart 头部 */
.container .cart{
    margin-top: 20px;
    min-height: 130px;
}
.container .cart .cart_head{
    height: 32px;
    line-height: 32px;
    background-color: #f3f3f3;
    border: 1px solid #e9e9e9;
    padding: 5px 0;
    margin-bottom: 10px;
}
.container .cart .cart_head .column{
    float: left;
}
.container .cart .cart_head .checkbox{
    height: 18px;
    line-height: 18px;
    padding-top: 7px;
    width: 122px;
    padding-left: 11px;
}
.container .cart .cart_head .checkbox .check_all{
    position: relative;
    float: left;
    margin-right: 5px;
}
.container .cart .cart_head .checkbox .check_all input{
    margin-top: 3px;
}

.container .cart .cart_head .goods{
    width: 348px;
}
.container .cart .cart_head .price{
    width: 120px;
    text-align: right;
    padding-right: 40px;
}
.container .cart .cart_head .quantity{
    width: 80px;
    text-align: center;
}
.container .cart .cart_head .sum{
    width: 100px;
    text-align: right;
    padding-right: 40px;
}
.container .cart .cart_head .action{
    width: 75px;
}

/* cart 列表 */
.container .cart .cart_list .cart_item{
    margin-bottom: 20px;
}
/* 店铺名 */
.container .cart .cart_list .cart_item .shop_name{
    padding-left: 11px;
}
.container .cart .cart_list .cart_item .shop_name .shop_checkbox{
    position: relative;
    float: left;
    margin-right: 5px;
}
.container .cart .cart_list .cart_item .shop_name .shop_checkbox input{
    margin-top: 8px;
}
.container .cart .cart_list .cart_item .shop_name .shop_txt a{
    display: inline-block;
    max-width: 260px;
    overflow: hidden;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    font-weight: 700;
}
.container .cart .cart_list .cart_item .shop_name .shop_txt a i{
    color: rgb(74, 157, 235);
    font-size: 18px;
    font-weight: normal;
}

/* 列表项 */
.cart .cart_list .cart_item .item_list{
    border-top: 2px solid #aaa;
}
.cart .cart_list .cart_item .item_list .item_list_item{
    /* border: 1px solid #f1f1f1; */
    border-style: solid;
    border-width: 1px;
    border-color: transparent #f1f1f1 #ccc;
    padding-left: 40px;
    padding-bottom: 10px;
    position: relative;
}
.cart .cart_list .cart_item .item_list .item_list_item:last-child{
    border-bottom-color: #f1f1f1;
}
.cart .cart_list .cart_item .item_list .cell{
    float: left;
    padding: 15px 0 10px;
}
.cart .cart_list .cart_item .item_list .checkbox{
    position: absolute;
    width: 30px;
    left: 10px;
    top: 0;
    min-height: 10px;
}
.cart .cart_list .cart_item .item_list .checkbox input{
    margin-top: 3px;
}
.cart .cart_list .cart_item .item_list .goods{
    width: 300px;
}
.cart .cart_list .cart_item .item_list .goods .img{
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    margin-right: 10px;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
.cart .cart_list .cart_item .item_list .goods .img img{
    width: 80px;
}
.cart .cart_list .cart_item .item_list .goods .msg .p_name{
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.cart .cart_list .cart_item .item_list .goods .msg .btn{
    margin-top: 4px;
}
.cart .cart_list .cart_item .item_list .goods .msg .btn .img{
    float: left;
    width: 17px;
    height: 16px;
    overflow: hidden;
    text-align: center;
    line-height: 16px;
    background-color: #e1251b;
}
.cart .cart_list .cart_item .item_list .goods .msg .btn .img img{
    width: 90%;
}
.cart .cart_list .cart_item .item_list .goods .msg .btn  a{
    color: #aaa;
}
.cart .cart_list .cart_item .item_list .goods .msg .btn  a:hover{
    color: #e1251b;
}

.cart .cart_list .cart_item .item_list .price{
    width: 300px;
    text-align: right;
    padding-right: 40px;
}
.cart .cart_list .cart_item .item_list .price p:first-child{
    margin-bottom: 5px;
}
.cart .cart_list .cart_item .item_list .price p:last-child{
    color: #e1251b;
}
.cart .cart_list .cart_item .item_list .price p:last-child span{
    border: 1px solid #e1251b;
    padding: 0 2px;
}

.cart .cart_list .cart_item .item_list .quantity{
    width: 80px;
    /* position: relative; */
}
.cart .cart_list .cart_item .item_list .quantity a,
.cart .cart_list .cart_item .item_list .quantity input{
    display: block;
    width: 16px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #cacbcb;
    text-align: center;
    margin: 0;
    padding: 1px 0;
    float: left;
    color: #555;
}
.cart .cart_list .cart_item .item_list .quantity .reduce{
    border-right: 0;
    color: #ddd;
}
/* 当数量大于1时，减少的按钮 字符颜色加深 */
.cart .cart_list .cart_item .item_list .quantity .reduce.canClick{
    color: #333;
}
.cart .cart_list .cart_item .item_list .quantity .add{
    border-left: 0;
}
.cart .cart_list .cart_item .item_list .quantity input{
    width: 42px;
    font-size: 12px;
}
.cart .cart_list .cart_item .item_list .quantity .txt{
    color: #aaa;
    text-align: center;
}

.cart .cart_list .cart_item .item_list .sum{
    width: 100px;
    padding-right: 40px;
    text-align: right;
    font-weight: 700;
    color: #333;
}

.cart .cart_list .cart_item .item_list .action{
    width: 75px;
    position: relative;
}
.cart .cart_list .cart_item .item_list .action a{
    color: #666;
}
.cart .cart_list .cart_item .item_list .action a:hover{
    color: #e1251b;
}

/* 底部结算 */
.container .bottom_sum{
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
    height: 50px;
    box-shadow: none;
    padding-bottom: 20px;
}
.container .bottom_sum.fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -1px 8px rgba(0,1,1,.08);
    padding-bottom: 0px;
}
.container .bottom_sum.fixed .innerContent{
    border: none;
}
.container .bottom_sum .innerContent{
    border: 1px solid #f1f1f1;
}
/* 全选 */
.container .bottom_sum .select_all{
    padding: 16px 0px 9px 16px;
}
.container .bottom_sum .select_all .checkbox input{
    position: relative;
    top: 2px;
    margin-top: 2px;
    margin-right: 5px;
}

/* action，删除等 */
.container .bottom_sum .action{
    width: 310px;
    height: 50px;
    line-height: 54px;
}
.container .bottom_sum .action a{
    margin-left: 5px;
}

/* sum_right */
.container .bottom_sum .sum_right{
    width: 420px;
    height: 50px;
}
.container .bottom_sum .sum_right .amount{
    color: #999;
    height: 44px;
    line-height: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.container .bottom_sum .sum_right .amount em{
    font-style: normal;
    color: #e1251b;
    font-weight: 700;
}
.container .bottom_sum .sum_right .amount img{
    width: 9px;
}

.container .bottom_sum .sum_right .price{
    height: 43px;
    line-height: 20px;
    color: #666;
    margin: 10px 5px 0 10px;
}
.container .bottom_sum .sum_right .price span{
    color: #999;
}
.container .bottom_sum .sum_right .price .total{
    font-size: 16px;
    color: #e2231a;
    font-weight: 700;
}
.container .bottom_sum .sum_right .price .total span{
    color: #e2231a;
}

.container .bottom_sum .sum_right .btn a{
    display: block;
    width: 94px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background-color: #e54346;
    overflow: hidden;
}

/* 购物车为空，显示 */
.container .cart_empty{
    height: 98px;
    padding: 120px 0;
    color: #333;
    display: none;
}
.container .cart_empty .img{
    height: 100%;
    width: 340px;
    float: left;
    text-align: right;
}
.container .cart_empty .img img{
    display: inline-block;
    width: 60px;
}
.container .cart_empty .text{
    float: left;
    font-size: 14px;
    padding-left: 24px;
    padding-top: 4px;
    line-height: 30px;
}
.container .cart_empty .text a{
    color: #005ea7;
}
.container .cart_empty .text a:hover{
    color: #f30213;
}

/* 购物车样式 结束 */