/* 商城右侧固定导航栏 开始 */
.container .right_nav{
    position: absolute;
    top: 676px;
    left: 50%;
    margin-left: 615px;
}
.container .right_nav ul.nav_list li {
    position: relative;
    width: 60px;
    height: 58px;
}
.container .right_nav ul.nav_list li .bg{
    display: block;
    width: 60px;
    height: 58px;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    z-index: 2;
    background-color: transparent;
    transition: background-color .3s;
}
.container .right_nav ul.nav_list li:hover .bg{
    background-color: #c81623;
}
.container .right_nav ul.nav_list li a,
.container .right_nav.fixed .top{
    position: relative;
    z-index: 1;
    display: block;
    width: 28px;
    height: 38px;
    padding: 10px 16px;
    font-size: 14px;
    color: #333;
    line-height: 19px;
    background-color: #fff;
    transition: color .3s;
}
.container .right_nav ul.nav_list li:hover a{
    color: #fff;
    background-color: transparent;
    z-index: 3;
}
.container .right_nav ul.nav_list li a i {
    font-size: 22px;
    text-align: center;
}

.container .right_nav ul.nav_list li .line{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 0;
    width: 40px;
    height: 1px;
    background: linear-gradient(270deg,#fff,#eee,#eee,#fff);
    transition: background-color .3s;
    z-index: 1;
}

/* 滑到顶部时，切换为fixed定位 */
.container .right_nav.fixed{
    position: fixed;
    /* top: 75px; */
    animation: eleShow .5s ease both; 
}
@keyframes eleShow {
    from{
        top: 10px;
    }
    to{
        top: 75px;
    }
}
/* 顶部 按钮 */
/* 未触顶不可见 */
.container .right_nav .top{
    visibility: hidden;
}
/* 触顶可见 */
.container .right_nav.fixed .top{
    visibility: visible;
    background-color: #fff;
    text-align: center;
    color: #c81623;
}
.container .right_nav.fixed .top:hover{
    background-color: #c81623;
    color: #fff;
}


/* 商城右侧固定导航栏 结束 */